@font-face {
  font-family: "opensans_semibold";
  src: local('opensans_semibold'), url("./fonts/OpenSans-SemiBold.ttf") format('trueType');
}

@font-face {
  font-family: "opensans_regular";
  src: local('opensans_regular'), url("./fonts/OpenSans-Regular.ttf") format('trueType');
}

@font-face {
  font-family: "opensans_bold";
  src: local('opensans_bold'), url("./fonts/OpenSans-Bold.ttf") format('trueType');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
